.logo-icon {
    position: absolute;
}

.intro {
    background-image: url(bgbig.jpg);
    background-position: right;
    width: 100%;
    background-repeat: no-repeat;
}


.Hello {
    font-family: 'RobotoCondensed';
    color:crimson; 
    font-size: 65px;
}

.modal-title {
    font-family: 'RobotoCondensed';
    font-size: 25px;
    color: deeppink;
}

.close {
    font-family: 'RobotoCondensed';
    font-size: 25px;
    color: deeppink;
}

#myModal {
    overflow-y: auto;
    padding: 15px;
    z-index: 1;
    position: fixed;
}
.decorthumb {
    border: solid 1px;
    border-color: deeppink;
    padding: 10px;
    cursor: pointer;
}
.modal-content {
    margin: 5% auto; 
    border: 1px solid #888;
}       
.modal-dialog {
    margin: 30px, auto;
    width: 600px;
}    
.modal-body {
    background-image: url('loadgif.gif');
    background-repeat: no-repeat;
    background-position: center;
}
.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    transform: translate(-50%,-50%);
}

.modal-header .modal-footer .modal-content {
    border: 1px solid deeppink;
}
.myslides {
    padding-left: 5%;
}

.modal-footer {
    font-family: 'RobotoCondensed';
    font-size: 25px;
    color: deeppink;
}

.name {
    font-family: 'RobotoCondensed';
    color: dimgray; 
    font-size: 55px;
}

.likes {
    font-family: 'RobotoCondensed';
    color:deeppink;
    font-size: 45px;
}

.readmore {
    font-family: 'RobotoCondensed';
    font-size: 20px;
}


.simpletext {
    font-family: 'RobotoCondensed';
    font-size: 20px;
}

.introduction {
    padding: 10%;
}

.ornament {
    padding-left: 30%;
}


a:hover {
  text-decoration: underline;
}

.col-md-12 p {
    text-align: center;
}

.col-md-6 .simpletext p:first-letter  {
	       font-family: 'RobotoCondensed';
	       font-size: 150%;
	       color: deeppink;
}

.social {
    position: absolute;
    
}

@font-face
{
font-family: 'RobotoCondensed';
src: url(/static/RobotoCondensed.ttf) format('truetype');
}

.aboutt {
    background-color:white;
    width: 100%;
    height: 100%;
}

.pic {
    background-color:white;
    width: 100%;
    height: 100%;
}

