{% extends "header.html" %}

{% block body %}
        <style>
            h1, label, input, textarea, p b, .remark {
                margin-left: 25px;
            }
            .remark {
                font-size: 14px;
            }
        </style>
        <h1 class="likes">Написать комментарий</h1>
        <div class="newcomment">
            <form method="POST">
                <div>
                    <label for="inputnickfield">Ваш ник:</label>
                </div>
                <div>   
                    <input type="input" id="inputnickfield" name="nick" class="nick" autocomplete="on" placeholder="Ник: буквы и цифры" pattern="^[a-zA-Zа-яА-Я][a-zA-Zа-яА-Я0-9-_\.]{1,20}$" required>
                    <p class="remark">Формат: В нике могут быть использованы любые английские и русские буквы, цифры, а также пробелы, однако начинаться он может только с буквы. Его длина может составлять от 2 до 20 знаков</p>
                </div>
                <br>
                <br>  
                <br>
                <br>  
                <div>
                    <label for="content">Содержание:</label>
                </div>
                <div>   
                    <input type="input" id="inputcontentfield" name="content" pattern="^[a-zA-Zа-яА-Я][a-zA-Zа-яА-Я0-9-_\.]{1,500}$" placeholder="Введите комментарий" required>
                    <p class="remark">Формат: В комментарии могут быть использованы любые английские и русские буквы, цифры, а также пробелы, однако начинаться он может только с буквы. Его длина может составлять от 2 до 500 знаков. Будьте внимательны и вежливы</p>
                </div>
                <br>
                <br> 
                <div class="botcheck">
                    <input type="input" style="display: none" name="botcheck">
                </div>
                <div>
                    <input type="submit" class="btn btn-default" data-dismiss="modal" value="Добавить">
                </div> 
            </form>
            <br>
            <p><b>Вернуться к просмотру <a href="/comments" style="color: gray">комментариев</a></b></p>
        </div>

        <!-- <form name="comment" action="comment.php" method="post">
          <p>
            <label>Имя:</label>
            <input type="text" name="name"/>
          </p>
          <p>
            <label>Комментарий:</label>
            <br />
            <textarea name="text_comment" cols="30" rows="10"></textarea>
          </p>
          <p>
            <input type="hidden" name="page_id" value="150" />
            <input type="submit" value="Отправить" />
          </p>
        </form>    -->     


        <footer>
            <div class="container-fluid">
                <div class="col-md-6">
                    <h2 class="likes">Обо мне</h2>
                    <p class="simpletext">Я <a href="/about" style="color: gray">Кристина</a></p>
                </div>
                <div class="col-md-6">
                   <h2 class="likes">Контакты</h2>
                    <p class="simpletext">Если вы хотите связаться со мной по рабочим вопросам или просто написать "Привет", используйте следующие ресурсы:</p>
                    <p>
                        <a href="mailto:christina.ilyenko@yandex.ru" target="_blank"><img src=" {{ url_for('static', filename='mail.ico') }}" alt="@mail"></a> 
                        <a href="https://vk.com/id137560014" target="_blank"> <img src=" {{ url_for('static', filename='vk.ico') }}"  alt="vk.com"> </a> 
                        <a href="https://instagram.com/chrighter" target="_blank"> <img src=" {{ url_for('static', filename='inst.ico') }}" alt="inst.com"> </a>
                    </p>
                </div>
                <div class="col-md-12">
                    <p class="simpletext">Designed by Ilyenko Christina &copy;, 2016</p>
                </div>
            </div>
        </footer>
{% endblock %}


