{% extends "header.html" %}

{% block body %}
        <style>
            table, h1, p {
                margin-left: 25px;
            }
            h1 {
                color: deeppink;
            }
            td {
                padding: 0.5%;
            }
            th {
                text-align: center;
            }
            .commentsli {
                display: block;
            }
            .commentsli:before {
                content: "\e232";
                font-family: 'Glyphicons Halflings';
                font-size: 15px;
                float: left;
                margin-top: 4px;
                margin-left: -17px;
                color: deeppink;
            }

        </style> 
        <h1 class="likes">Комментарии</h1>
        <br>
        <p><b>Написать свой <a href="/comment" style="color: gray">комментарий</a></b></p>
        <br>
        <p><b>Предыдущие комментарии</b></p>
        <ul style="list-style-type:square">
            
                {% for el in data %}
                <li class="commentsli">
                    <b>Автор: </b> {{ el[0] }}
                    <b>Комментарий: </b> {{ el[1] }}
                    <b>Дата: </b> {{ el[2] }}
                </li>  
                <br>  
                {% endfor %}
            
        </ul>
        <br>
        
            

        <footer>
            <div class="container-fluid">
                <div class="col-md-6">
                    <h2 class="likes">Обо мне</h2>
                    <p class="simpletext">Я <a href="/about" style="color: gray">Кристина</a></p>
                </div>
                <div class="col-md-6">
                   <h2 class="likes">Контакты</h2>
                    <p class="simpletext">Если вы хотите связаться со мной по рабочим вопросам или просто написать "Привет", используйте следующие ресурсы:</p>
                    <p>
                        <a href="mailto:christina.ilyenko@yandex.ru" target="_blank"><img src=" {{ url_for('static', filename='mail.ico') }}" alt="@mail"></a> 
                        <a href="https://vk.com/id137560014" target="_blank"> <img src=" {{ url_for('static', filename='vk.ico') }}"  alt="vk.com"> </a> 
                        <a href="https://instagram.com/chrighter" target="_blank"> <img src=" {{ url_for('static', filename='inst.ico') }}" alt="inst.com"> </a>
                    </p>
                </div>
                <div class="col-md-12">
                    <p class="simpletext">Designed by Ilyenko Christina &copy;, 2016</p>
                </div>
            </div>
        </footer>
{% endblock %}


