<footer>
            <div class="container-fluid">
                <div class="col-md-6">
                    <h2 class="likes">Обо мне</h2>
                    <p class="simpletext">Я <a href="/about" style="color: gray">Кристина</a></p>
                </div>
                <div class="col-md-6">
                   <h2 class="likes">Контакты</h2>
                    <p class="simpletext">Если вы хотите связаться со мной по рабочим вопросам или просто написать "Привет", используйте следующие ресурсы:</p>
                    <p>
                        <a href="mailto:christina.ilyenko@yandex.ru" target="_blank"><img src=" {{ url_for('static', filename='mail.ico') }}" alt="@mail"></a> 
                        <a href="https://vk.com/id137560014" target="_blank"> <img src=" {{ url_for('static', filename='vk.ico') }}"  alt="vk.com"> </a> 
                        <a href="https://instagram.com/chrighter" target="_blank"> <img src=" {{ url_for('static', filename='inst.ico') }}" alt="inst.com"> </a>
                    </p>
                </div>
                <div class="col-md-12">
                    <p class="simpletext">Designed by Ilyenko Christina &copy;, 2016</p>
                </div>
            </div>
        </footer>