{% extends "header.html" %}

{% block body %}
            <div id="secondfloor"> </div>  
            <div id="myModal" class="modal modal-lg modal-xs modal-sm modal-md modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close">&times;</span>
                        <div class="modal-title">Просмотр изображения</div>
                    </div>
                    <div class="modal-body">
                        <img id="viewer" class="img-responsive" src="#" alt="">
                    </div>
                    <div class="modal-footer">
                        <button type="button" value="likebut" class="btn btn-default" data-dismiss="modal" onclick="like()">Лайк</button>
                        <!-- <input id="likelab"><label for="likebut"></label> -->
                        <span id="likelab"></span>
                        <button type="button" id="closebtn" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                        <button type="button" value="Update" class="btn btn-default" data-dismiss="modal" onclick="updateURL()">Сделать фоном</button>
                    </div>
                </div>
            </div>

            <div class="row gallery">  
                <div class="col-sm-6 col-md-4 col-lg-3 myslides"> 
                       <img src="{{ url_for('static', filename='1picthumb.jpg' )}}" id="1thumb" alt="1 thumb" class="decorthumb" onclick="show('1pic.jpg')" data-bigpicture="1">
               </div>
                  <div class="col-sm-6 col-md-4 col-lg-3 myslides"> 
    <!--                   <a href="#" id="thumbnail" class="thumb">-->
                           <img src="{{ url_for('static', filename='2picthumb.jpg' )}}" id="2thumb" alt="2 thumb" class="decorthumb" onclick="show('2pic.jpg')" data-bigpicture="2">
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 myslides"> 
                           <img src="{{ url_for('static', filename='3picthumb.jpg' )}}" id="3thumb" alt="3 thumb" class="decorthumb" onclick="show('3pic.jpg')"  data-bigpicture="3">
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 myslides"> 
                           <img src="{{ url_for('static', filename='4picthumb.jpg' )}}" id="4thumb" alt="4 thumb" class="decorthumb" onclick="show('4pic.jpg')" data-bigpicture="4">
                </div>   
  
             </div>
        <script>
            var slideIndex = 1;

            function plusSlides(n) {
                showSlides(slideIndex += n);
            }

            function currentSlide(n) {
                showSlides(slideIndex = n);
            }
            var slides = document.getElementsByClassName("myslides");

            function showSlides(n, pic) {
                var i;
                var arr = ['1pic.jpg', '2pic.jpg', '3pic.jpg', '4pic.jpg']
                if (n > slides.length) {slideIndex = 1}
                if (n < 1) {slideIndex = slides.length}
//                window.history.pushState({}, '', '/pictures/'+arr[slideIndex-1]);
                show(arr[slideIndex-1])
            }       


            var currentpic = ''
            var modal = document.getElementById('myModal');
            var span = document.getElementsByClassName("close")[0];
            var closebtn = document.getElementById("closebtn");
            modal.style.display = 'none';
            span.onclick = function() {
                modal.style.display = "none";
            }

            closebtn.onclick = function() {
                modal.style.display = "none";
            }

            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }

            function show(e) {
                var modal = document.getElementById('myModal');
                modal.style.display = "block";
                document.getElementById("viewer").src = '/static/'+e
                window.history.pushState({}, '', '/pictures/'+e);
                likeview(e)
            };
            
            window.addEventListener("load", function(e) {
                lalala()
            });
            
            function lalala() {
                    oldUrl = "/pictures"
                    console.log("oldUrl", oldUrl);
                    MainUrl = document.location;
//                    show(MainUrl.pathname)
                if (MainUrl.pathname == oldUrl) {
                    var modal = document.getElementById('myModal');
                    modal.style.display = "none";
                    return;
                }  
                    var arr = (MainUrl.pathname).split("/")
                    var modal = document.getElementById('myModal');
                    modal.style.display = "block";
                    document.getElementById("viewer").src = '/static/'+arr[arr.length-1]
                }
            
            window.addEventListener("popstate", lalala);
            

            
            window.onkeydown = function( event ) {
                if ( event.keyCode == 27 ) {
                    modal.style.display = "none";
                }
                if ( event.keyCode == 37 ) {
                    plusSlides(-1);
                }
                if ( event.keyCode == 39 ) {
                    plusSlides(1);
                }
                
                if ("onhelp" in window) {
                    window.onhelp = function () { 
                    return false;
                    }
                }                    
                cancelKeypress = (event.keyCode == 112);
                if ( cancelKeypress) {
                    showhelp(true);
                    return false;
                }
    
            };
            function showhelp(t) {
                if (t) {
                    var a = document.createElement('a');
                    var linkText = document.createTextNode("my title text");
                    a.appendChild(linkText);
                    a.title = "my title text";
                    a.href = "/help";
                    a.id = "helpLink";
                    document.body.appendChild(a);
                    document.getElementById('helpLink').click();
                }
            };

            window.onload = function() {
                setBackground();
            }

            function updateURL() {
                var newURL = document.getElementById('viewer').src;
                setCookie('URL', newURL, 365);
                document.getElementById("secondfloor").style.background = 'url('+newURL+') repeat';
                document.getElementById("secondfloor").style.opacity = "0.3";
                document.getElementById("secondfloor").style.position='fixed';
            }

            function setBackground() {
              var URL = getCookie('URL');
              if (URL === undefined)
                  updateURL()
              else {
                    updateURL()
                    document.getElementById("secondfloor").style.background = 'viewer('+URL+') repeat';
                    document.getElementById("secondfloor").style.opacity = "0.3";
                    document.getElementById("secondfloor").style.position='fixed';
              }
                  
            }

            function setCookie(c_name, value, exdays) {
                var exdate=new Date();
                exdate.setDate(exdate.getDate() + exdays);
                var c_value=escape(value) + ((exdays==null) ? "" : "; expires="+exdate.toUTCString());
                document.cookie=c_name + "=" + c_value;
            }

            function getCookie(c_name) {
                var c_value = document.cookie;
                var c_start = c_value.indexOf(" " + c_name + "=");

                if (c_start == -1)
                    c_start = c_value.indexOf(c_name + "=");

                if (c_start == -1) {
                    c_value = null;
                } else {
                    c_start = c_value.indexOf("=", c_start) + 1;
                    var c_end = c_value.indexOf(";", c_start);

                    if (c_end == -1)
                        c_end = c_value.length;

                    c_value = unescape(c_value.substring(c_start,c_end));
                }
                return c_value;
            }

            function like() {
                var xhr = new XMLHttpRequest();
                xhr.open("POST", '/like', true)
                var body = 'id=' + encodeURIComponent(viewer.src);    
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded')
                xhr.onreadystatechange = function() {
                    if (xhr.readyState != 4) return
                        if (xhr.status == 200) {
                            likelab.innerText = xhr.responseText
                        }
                }
                xhr.send(body);
            }

            function likeview(e) {
                console.log(e)
                var x = new XMLHttpRequest();
                x.open("GET", "http://127.0.0.1:5000/like?id=http://127.0.0.1:5000/static/" + encodeURIComponent(e)); 
                x.onreadystatechange = function() {
                    if (x.readyState != 4) return
                        if (x.status == 200) {
                            likelab.innerText = x.responseText
                        }
                }
                x.send()
            }
 
        </script>

<!--
        <form action="/html/tags/html_form_tag_action.cfm" method="post">
            <div>
            <textarea name="comments" id="comments" style="font-family:sans-serif;font-size:1.2em;">
            Hey... say something!
            </textarea>
            </div>
            <input type="submit" value="Submit">
        </form>
-->


        <footer>
            <div class="container-fluid">
                <div class="col-md-6">
                    <h2 class="likes">Обо мне</h2>
                    <p class="simpletext">Я <a href="/about" style="color: gray">Кристина</a></p>
                </div>
                <div class="col-md-6">
                   <h2 class="likes">Контакты</h2>
                   <p class="simpletext">Если вы хотите связаться со мной по рабочим вопросам или просто написать "Привет", используйте следующие ресурсы:</p>
                    <p>
                        <a href="mailto:christina.ilyenko@yandex.ru" target="_blank"><img src=" {{ url_for('static', filename='mail.ico') }}" alt="@mail"></a> 
                        <a href="https://vk.com/id137560014" target="_blank"> <img src=" {{ url_for('static', filename='vk.ico') }}"  alt="vk.com"> </a> 
                        <a href="https://instagram.com/chrighter" target="_blank"> <img src=" {{ url_for('static', filename='inst.ico') }}" alt="inst.com"> </a>
                    </p>
                </div>
                <div class="col-md-12">
                    <p class="simpletext">Designed by Ilyenko Christina &copy;, 2016</p>
                </div>
            </div>
        </footer>
       
{% endblock %}