{% extends "header.html" %}

{% block body %}
        <style>
            table, h1, p {
                margin-left: 25px;
            }
            td {
                padding: 0.5%;
            }
            th {
                text-align: center;
            }
            .date, .time, .ip, .actions {
                width: 10%;
                word-break: break-all;
            }
            .agent {
                width: 60%;
                word-break: break-all;
            }
        </style>
        <h1 class="likes">Статистика</h1>
        <img src='/visitors' vertical-align="left" alt="Статистика в картинке">
        <div class="table-responsive">
            <table class="table" border='1'>
                <tr>
                    <th class="date">Date</th>
                    <th class="time">Time</th>
                    <th  class="ip">IP address</th>
                    <th class="agent">User-agent</th>
                    <th class="actions">Actions</th>
                </tr>
                {% for el in data %}
                    <tr>
                        <td class="date">{{ el[1][:10] }}</td>
                        <td class="time">{{ el[1][11:] }}</td>
                        <td class="ip">{{ el[0] }}</td>
                        <td class="agent">{{ el[3] }}</td>
                        <td class="actions">{{ el[2] }}</td>
                    </tr>
                    
                {% endfor %}
            </table>
        </div>    
        
        <footer>
            <div class="container-fluid">
                <div class="col-md-6">
                    <h2 class="likes">Обо мне</h2>
                    <p class="simpletext">Я <a href="/about" style="color: gray">Кристина</a></p>
                </div>
                <div class="col-md-6">
                   <h2 class="likes">Контакты</h2>
                    <p class="simpletext">Если вы хотите связаться со мной по рабочим вопросам или просто написать "Привет", используйте следующие ресурсы:</p>
                    <p>
                        <a href="mailto:christina.ilyenko@yandex.ru" target="_blank"><img src=" {{ url_for('static', filename='mail.ico') }}" alt="@mail"></a> 
                        <a href="https://vk.com/id137560014" target="_blank"> <img src=" {{ url_for('static', filename='vk.ico') }}"  alt="vk.com"> </a> 
                        <a href="https://instagram.com/chrighter" target="_blank"> <img src=" {{ url_for('static', filename='inst.ico') }}" alt="inst.com"> </a>
                    </p>
                </div>
                <div class="col-md-12">
                    <p class="simpletext">Designed by Ilyenko Christina &copy;, 2016</p>
                </div>
            </div>
        </footer>
{% endblock %}


